<html>

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-sm" style="background-color: #EEEEEE;">
        <b class="navbar-brand" style="font-family: 'Merriweather', serif;">CodePlayer</b>
        <div class="btn-group p-0" style="margin: 0 auto">
            <a href="#" class="btn btn-primary">HTML</a>
            <a href="#" class="btn btn-primary">CSS</a>
            <a href="#" class="btn btn-primary">JavaScript</a>
            <a href="#" class="btn btn-primary">Output</a>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 form-group p-0">
                    <textarea class="form-control" rows="25" placeholder="//HTML Code Here"></textarea>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 form-group p-0">
                    <textarea class="form-control" rows="25" placeholder="//CSS Code Here"></textarea>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 form-group p-0">
                    <textarea class="form-control" rows="25" placeholder="//JavaScript Code Here"></textarea>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 form-group p-0" style="height: 600px;">
                    <textarea class="form-control" rows="25" placeholder="//Output will be shown Here" readonly></textarea>
            </div>
        </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>